<ion-view view-title="Profile">
	<ion-nav-buttons side="secondary">

		<a class="button button-icon" href="#/nav/profile/edit">
			<i class="icon ion-edit"></i>
		</a>
	</ion-nav-buttons>
	<ion-content>
		<div id="profile-header">
			<div class="header-background positive-bg"></div>
			<div class="profile-image">
				<img src="../img/blank-profile.png" />
			</div>
			<h3 class="text-center">{{person.fullName}}</h3>
			<span class="profile-description text-center">Test Description</span>
		</div>
		<ul id="profile-info" class="list">
			<li class="item item-borderless">
				<label>User Name:</label>
				<span>{{person.username}}</span>
			</li>
			<li class="item item-borderless">
				<label>Email:</label>
				<span>{{person.email}}</span>
			</li>
			<li class="item item-borderless">
				<label>Telephone:</label>
				<span>{{person.telephone | tel}}</span>
			</li>
			<li class="item item-borderless">
				<label>Fax:</label>
				<span>{{person.fax | tel}}</span>
			</li>
		</ul>
	</ion-content>
</ion-view>